body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  background-color: #afedd7;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ploca {
  height: 300px;
  width: 400px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ikona {
  height: 40px;
  width: 40px;
}

.label {
  cursor: pointer;
}

.gumb {
  /*width: 80px;
  height: 50px;*/
  /*background-color: #d9e6fa;*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  user-select: none;
  /*transition: all 0.5s;*/
  margin: 30px auto 0px auto;
}

.gumb-nekliknuti {
  transition: all 0.5s;
  background-color: #d9e6fa;
}

.gumb-kliknuti {
  background-color: red;
}

.gumb-nekliknuti:hover {
  background-color: #d2fcc7;
  cursor: pointer;
}

#input0 {
  margin: 0px 0px 20px 0px;
}

/* flash styling*/

.flash-cont {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  /*z-index: -1;*/
  pointer-events: none;
}

.alert {
  /*display: flex;*/  /*saltamo izmedu none i flex*/
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  z-index: 6;
  position: sticky;
  top: 0;
  pointer-events: auto;
}

.alert-close {
  /*background-color: yellow;*/
  height: 20px;
  width: 20px;
  position: absolute;
  top: 6px;
  right: 6px;
}

.alert-close-el1 {
  background-color: black;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: rotate(45deg);
}

.alert-close-el1:hover {
  background-color: #777;
  cursor: pointer;
}

.alert-close-el2 {
  background-color: white;
  height: 65%;
  width: 12%;
  position: absolute;
  top: 17.5%;
  left: 44%;
  /*z-index: 6;*/
}

.alert-close-el3 {
  background-color: white;
  height: 12%;
  width: 65%;
  position: absolute;
  top: 44%;
  left: 17.5%;
  /*z-index: 6;*/
}

.alert > p {
  margin: 10px 30px 10px 30px;
}

.alert-success {
  background-color: rgba(88,255,79,0.5);
  display: flex;
}

.alert-danger {
  background-color: rgba(242, 12, 43,0.5);
  display: flex;
}

.alert-invisible {
  display: none;
}

/* zapis*/

.main1 {
  background-color: #afedd7;
  border: 1px solid #afedd7;
  height: 100vh;
  width: 100vw;
}

.forma1 {
  margin: 20px auto 0px auto;
  /*background-color: red;*/
  width: 300px;

}

.ploca1 {
  height: 400px;
  width: 500px;
  /*background: blue;*/
  margin: 30px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slika {
  max-width: 300px;
  max-height: 250px;
}

.audio-el {
  width: 100px;
}